[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "lib/glfm"]
	path = lib/glfm
	url = https://github.com/brackeen/glfm
[submodule "lib/soloud"]
	path = lib/soloud
	url = https://github.com/danman113/soloud
	branch = origin/add-miniaudio-to-contrib-cmake
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
