build/
*.kdev4
save
.vs/
_deps/
CMakeFiles/

# Android Studio
android/.idea

# Visual Studio
Outrospection.dir/
vcpkg_installed/
x64/
*.exe
*.sln
*.vcxproj*
*.filters
*.log
Debug/
Release/

Outrospection
